/* Styles associated with toggle.js to enable toggling. */
.toggle .toggle-header {
  display: block;
  clear: both;
}

.toggle .toggle-header {
  margin: 1em;
}

.toggle .toggle-header:hover {
  cursor: pointer;
}

.toggle .toggle-header p {
  background: #cccccc;
  border: 1px solid black;
  border-radius: 10px;
  display: inline;
  padding: .5em;
}

.toggle .toggle-header p:after {
  content: " ▶";
}

.toggle .toggle-header.open p:after {
  content: " ▼";
}

.toggle .toggle-body {
  border: 1px solid #cccccc;
  padding: .5em;
}
